.banner{
    height:100%;
    background: #fff;
}
.banner img{
    
    width:100%;
    height:100%;
   
}
.banner-animation{
    -ms-animation: scaleL linear 5s;
     -webkit-animation: scaleL linear 5s;
    animation: scaleL linear 5s;
}
@-ms-keyframes scaleL {
    from {
      opacity: 0.7;
      -ms-transform: scale(1);
      transform: scale(1);
      visibility: visible; }
  
    50% {
      opacity: 0.9;
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
  
    to {
      opacity: 1;
      -ms-transform: scale(1);
      transform: scale(1); } }
@-webkit-keyframes scaleL {
    from {
      opacity: 0.7;
      -webkit-transform: scale(1);
      transform: scale(1);
      visibility: visible; }
  
    50% {
      opacity: 0.9;
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }
  
    to {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1); } }
@keyframes scaleL{
    from {
      opacity: 0.7;
      -webkit-transform: scale(1);
      transform: scale(1);
      visibility: visible; }
  
    50% {
      opacity: 0.9;
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }
  
    to {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1); } 
}
.content{
    position: absolute;
    top:3%;
    color:#fff;
    left:14%;
    text-align: left;
}
.content h1{
    font-size: 50px;
    opacity:1;
}
.banner .desc{
    font-size: 16px;
    width:1125px;
    line-height: 34px;
    margin:20px 0 30px;
    opacity: 1;
}
.banner .btn div{
    float: left;
    border:1px solid #b1d3fc;
    background: rgba(255,255,255,0.1);
    font-size: 16px;
    text-align: center;
    color:#fff;
    width:210px;
    height:50px;
    line-height: 50px;
    cursor: pointer;
}
.banner .btn .seevideo{
    padding-left:64px;
}
.banner .btn .seeintroduce{
    margin-left: 20px;
}
.banner .btn span{
    font-size: 30px;
    line-height: 30px;
}
.banner .btn p{
    float: left;
}
.banner .btn .play-icon{
    line-height: 46px;
    margin-right: 5px;
}
.swiper-pagination-bullet{
    width: 95px;
    height: 5px;
    border-radius: 0;
    background: #fff;
    opacity: 0.3;
    
}
.swiper-pagination-bullet-active{
    background: -moz-linear-gradient(left,#2e47ff,#9cf2fe);
    background: -webkit-linear-gradient(left,#2e47ff,#9cf2fe);
    background: -o-linear-gradient(left,#2e47ff,#9cf2fe);
    opacity: 1;
     /*transition: width 5s;*/
   animation: catman 5s linear;
}

@keyframes catman {
    0%{
        width: 0;
    }
    50%{
         width:50px;
    }
    100%{
         width: 95px;
    }
}
#banner>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction,#banner .swiper-pagination-banner{
    bottom:80px;
}

#bottom-dongmancheng-banner>.swiper-pagination-bullets,#bottom-dongmancheng-banner .swiper-pagination-custom,#bottom-dongmancheng-banner .swiper-pagination-fraction{
    bottom:40px;
}
#bottom-xiaozhen-banner>.swiper-pagination-bullets,#bottom-xiaozhen-banner .swiper-pagination-custom,#bottom-xiaozhen-banner .swiper-pagination-fraction{
    bottom:40px;
}

/*下属公司*/
.subsidiary,.company{
    height:100%;
    width:100%;
    position: relative;
}
.subsidiary .left-block{
    background: url('../images/introduce/dianzhen.png') no-repeat;
    background-size: 100% 100%;
    width:326px;
    height: 100%;
    padding-top:180px;
    float: left;
    position: absolute;
    left:0;
    top:0;
    z-index: 999;
}
.subsidiary .left-block .title,.company .left-block .title{
    height:280px;
}
.subsidiary .left-block .title-name,.company .left-block .title-name{
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    width:60px;
    line-height: 70px;
     float: left;
     margin-left:60px;
    
}
.subsidiary .left-block .title-name-eng,.company .left-block .title-name-eng{
   color:#818487;
   transform: rotate(90deg);
   -webkit-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
   -moz-transform: rotate(90deg);
   -o-transform: rotate(90deg);
   transform-origin: 130px 18px;
}
.subsidiary .left-block .tips span{
    cursor: pointer;
}
.subsidiary .left-block .tips,.company .left-block .tips{
    position: absolute;
    left:60px;
    bottom:20%;
    width:230px;
    color:#d0d0d0;
    font-size: 12px;
    line-height: 20px;
    text-align: left;
}
.subsidiary .left-block .tips .top-line,.company .left-block .tips .top-line{
    
    margin-bottom:12px;
}
.subsidiary .left-block .tips .top-line p,.company .left-block .tips .top-line p{
    display: inline-block;
}
.subsidiary .left-block .tips .top-line .line1,.company .left-block .tips .top-line .line1{
    width:29px;
    height: 4px;
    background: #0066ff;
}
.subsidiary .left-block .tips .top-line .line2,.company .left-block .tips .top-line .line2{
    width:3px;
    height: 4px;
    background: #ff00ff;
}
.company .left-block .tips-add{
    color: #e1eeff;
}

.subsidiary .right-block{
    position: absolute;
    left:326px;
    top:0;
    height:100%;
    width:calc(100% - 326px);
    overflow: hidden;
    /*overflow-x: scroll;*/
    /*overflow-x: auto;
    overflow-y: hidden;*/
    /*margin-left:326px;*/
    white-space: nowrap;
    /*position: absolute;
    bottom:-17px;
    top:0;*/
}
.subsidiary .right-block .items{
    position: relative;
}
/*.subsidiary .right-block::-webkit-scrollbar { width: 0 !important }*/

.subsidiary .right-block .item{
    width:454px;
    height: 100%;
    display: inline-block;
     margin-left:-1px;
     position: relative;
    /*float: left;*/
}
.subsidiary .right-block .item .item-block{
    background: #0066ff;
    position: relative;
    /*transform: translateY(-100%);*/
    /*transition: transform .6s;*/
    height:100%;
}
.subsidiary .right-block .item:hover .item-hover{
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
}
.subsidiary .right-block .item:hover .item-normal img{
    /*padding:0 5px;*/
    /*opacity: 1;*/
}
.subsidiary .right-block .item .item-normal{
    position: relative;
    height:100%;
    /*position: relative;*/
}
.subsidiary .right-block .item .item-normal img:nth-child(1){
    /*width:454px;*/
    height:100%;
    /*opacity: 0.8;*/
}
.subsidiary .right-block .item .item-normal .normal-logo{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: opacity .9s;
    -webkit-transition: opacity .9s;
    -ms-transition: opacity .9s;
    -moz-transition: opacity .9s;
    -o-transition: opacity .9s;
}
.subsidiary .right-block .item .item-hover{
    width:100%;
    height:45%;
   
    /*transform: translateY(-383px);*/
     transition: transform .6s;
     -webkit-transition: transform .6s;
    -ms-transition: transform .6s;
    -moz-transition: transform .6s;
    -o-transition: transform .6s;
   /*box-shadow: 0 0px 0px #fff,0 -40px 40px rgba(0,102,255,0.4),0 0 0 #fff,0 0 0 #fff;*/
}
.subsidiary .right-block .item:nth-child(1) .item-hover{
    background: rgba(0,102,255,0.95);
}
.subsidiary .right-block .item:nth-child(2) .item-hover{
    background: rgba(0,138,135,0.95);
}
.subsidiary .right-block .item:nth-child(3) .item-hover{
    background: rgba(207,102,43,0.95);
}
.subsidiary .right-block .item:nth-child(4) .item-hover{
    background: rgba(109,63,166,0.95);
}
.subsidiary .right-block .item:nth-child(5) .item-hover{
    background: rgba(40,134,229,0.95);
}
.subsidiary .right-block .item:nth-child(6) .item-hover{
    background: rgba(0,46,82,0.95);
}
.subsidiary .right-block .item:nth-child(7) .item-hover{
    background: rgba(31,116,140,0.95);
}
.subsidiary .right-block .item .item-hover .hoverimg{
    width: 100%;
    /*width:444px;
    height:602px;*/
    padding: 0 5px;
    /*animation: toTop 0.4s ease 1;*/
}
.subsidiary .right-block .item .item-hover .desc-block{
    /*margin-top:50px;*/
    padding-top:38px;
    padding:0 35px;
    color:#fff;
    text-align: left;
    animation: toTop 0.4s ease;
    -webkit-animation: toTop 0.4s ease;
    -ms-animation: toTop 0.4s ease;
    -moz-animation: toTop 0.4s ease;
    -o-animation: toTop 0.4s ease;
    height:45%;
}
.subsidiary .right-block .item:hover .item-normal .normal-logo{
    opacity: 0;
}
.subsidiary .right-block .item:hover .item-hover .desc-block img{
    /*transform: translateX(0px);*/
    -webkit-animation: toLeft .6s .1s ease forwards;
    -ms-animation: toLeft .6s .1s ease forwards;
    -moz-animation: toLeft .6s .1s ease forwards;
    -o-animation: toLeft .6s .1s ease forwards;
    animation: toLeft .6s .1s ease forwards;
}
@-ms-keyframes toLeft{
     from {
      opacity: 0;
      -ms-transform: translateX(-90px);
      transform: translateX(-90px);
      }
  
    to {
      opacity: 1;
       -ms-transform: translateX(0px);
      transform: translateX(0px);
      } 
}
@-webkit-keyframes toLeft{
     from {
      opacity: 0;
      -webkit-transform: translateX(-90px);
      transform: translateX(-90px);
      }
  
    to {
      opacity: 1;
       -webkit-transform: translateX(0px);
      transform: translateX(0px);
      } 
}
@keyframes toLeft{
      from {
      opacity: 0;
      transform: translateX(-90px);
      }
  
    to {
      opacity: 1;
      transform: translateX(0px);
      } 
}
.subsidiary .right-block .item .item-hover .desc-block img{
    padding-top:10%;
    opacity: 0;
    /*transition: transform .4s;*/
}
#subsidiary .hidecss{
    animation: toBottom 0.4s ease 1;
    -webkit-animation: toBottom 0.4s ease 1;
    -ms-animation: toBottom 0.4s ease 1;
    -moz-animation: toBottom 0.4s ease 1;
    -o-animation: toBottom 0.4s ease 1;
    
}
/*.subsidiary .right-block .item .item-hover .totop{
    animation: totop 0.5s ease 1;
}*/
@-ms-keyframes toTop{
    0%{
         -ms-transform: translate(0,200px);
        transform: translate(0,200px);
    }
    100%{
         -ms-transform: translate(0,0px);
        transform: translate(0,0px);
    }
    
}
@-webkit-keyframes toTop{
    0%{
         -webkit-transform: translate(0,200px);
        transform: translate(0,200px);
    }
    100%{
         -webkit-transform: translate(0,0px);
        transform: translate(0,0px);
    }
    
}
@keyframes toTop{
    0%{
        transform: translate(0,200px);
    }
    100%{
        transform: translate(0,0px);
    }
    
}
@-ms-keyframes toBottom{
    0%{
         -ms-transform: translate(0,0px);
        transform: translate(0,0);
    }
    100%{
         -ms-transform: translate(0,200px);
        transform: translate(0,200px);
    }
    
}
@-webkit-keyframes toBottom{
    0%{
         -webkit-transform: translate(0,0px);
        transform: translate(0,0);
    }
    100%{
         -webkit-transform: translate(0,200px);
        transform: translate(0,200px);
    }
    
}
@keyframes toBottom{
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(0,200px);
       
    }
    
}

.subsidiary .right-block .item .item-hover .desc-block h4{
    font-size: 18px;
    margin:15px 0 10px;
    opacity: 0;
}
.subsidiary .right-block .item .item-hover .desc-block .desc{
    white-space:normal;
    line-height: 26px;
    font-size: 14px;
    color: rgba(255,255,255,0.8);
    opacity: 0;
}
.subsidiary .right-block .item:hover .item-hover .desc-block h4{
    -webkit-animation: toRightitem .6s .3s ease forwards;
    -ms-animation: toRightitem .6s .3s ease forwards;
    -moz-animation: toRightitem .6s .3s ease forwards;
    -o-animation: toRightitem .6s .3s ease forwards;
    animation: toRightitem .6s .3s ease forwards;
}
.subsidiary .right-block .item:hover .item-hover .desc-block .desc{
    -webkit-animation: toRightitem .6s .5s ease forwards;
    -ms-animation: toRightitem .6s .5s ease forwards;
    -moz-animation: toRightitem .6s .5s ease forwards;
    -o-animation: toRightitem .6s .5s ease forwards;
    animation: toRightitem .6s .5s ease forwards;
}
@-ms-keyframes toRightitem{
     from {
      opacity: 0;
       -ms-transform: translate(0,90px);
      transform: translateX(90px);
      }
    to {
      opacity: 1;
       -ms-transform: translate(0,0px);
      transform: translateX(0px);
      } 
}
@-webkit-keyframes toRightitem{
     from {
      opacity: 0;
       -webkit-transform: translate(0,90px);
      transform: translateX(90px);
      }
    to {
      opacity: 1;
       -webkit-transform: translate(0,0px);
      transform: translateX(0px);
      } 
}
@keyframes toRightitem{
      from {
      opacity: 0;
      transform: translateX(90px);
      }
    to {
      opacity: 1;
      transform: translateX(0px);
      } 
}

/*.subsidiary .right-block .item .hide{
    display: none;
    animation: bottom-top 2s linear;
}
.subsidiary .right-block .item .show{
    display: block;
    animation: top-bottom 2s linear;
}

@keyframes bottom-top {
  0% {
       -webkit-transform:  translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
      -webkit-transform:translateY(0);
    transform: translateY(0);
  }
}
@keyframes top-bottom {
  0% {
      -webkit-transform:translateY(100%);
    transform: translateY(100%);
  }
  100% {
      -webkit-transform:translateY(0);
    transform: translateY(0);
  }
}*/

/*创意基地*/
.company .left-block{
    background: url('../images/introduce/dianzhen.png') no-repeat;
    background-size: 100% 100%;
    opacity: 0.9;
    width:326px;
    height: 100%;
    padding-top:185px;
    float: left;
    position: absolute;
    left:0;
    top:0;
    z-index: 999;
}
.company .center{
    width:100%;
    position: relative;
    margin:0 auto;
    /*text-align: center;*/
}
.company .center .center-desc{
    position: absolute;
    left:50%;
    bottom:65px;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    width:900px;
    color:#fff;
    text-align: left;
}
.company .center .center-desc h4{
    font-size: 20px;
    margin:10px 0;
    color: #fff;
}
.company .center .center-desc p{
    width:760px;
    font-size: 14px;
    line-height: 26px;
    color:rgba(255,255,255,0.6);
}
.company .center .shadow{
    width:100%;
    height:300px;
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.4));
    position: absolute;
    bottom:0;
}
.company .right-block{
    position: absolute;
    right:0;
    top:0;
    z-index: 999;
    width:400px;
    height:100%;
}
.company .right-block .item{
    width:400px;
    height:50%;
    position: relative;
}
.company .right-block .item:hover .normal .block h4{
    color:#fff;
    text-shadow:0 0 15px #0066ff;
}

.company .right-block .item .normal{
    background: #181818;
    height:100%;
    width:400px;
    text-align: center;
    
}
.company .right-block .item:nth-child(1) .normal{
display: none;
}
.company .right-block .item .normal .block,.company .right-block .item .hover .block{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    text-align: center;
}
.company .right-block .item .normal .block .block-img{
    width:82px;
    height:98px;
    margin: 0 auto;
    position: relative;
     /*left: 50%;
 transform: translateX(-50%);*/
}
.company .right-block .item .normal .block .block-img img{
    position: absolute;
    bottom:0;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
}
.company .right-block .item .normal .block h4,.company .right-block .item .hover .block h4{
    color:#0066ff;
    font-size: 20px;
    margin-top:20px;
}
.company .right-block .item .hover{
    background: #024bb9;
    opacity: 0.8;
    height:100%;
    width:400px;
    text-align: center;
}
.company .right-block .item:nth-child(2) .hover{
    display: none;
}
.company .right-block .item .hover .block img{
    -webkit-animation: imgBottom .3s ease; 
    -ms-animation: imgBottom .3s ease; 
    -moz-animation: imgBottom .3s ease; 
    -o-animation: imgBottom .3s ease; 
    animation: imgBottom .3s ease; 
    
}
.company .right-block .item .hover .block h4{
    color:#fff;
    margin-bottom:20px;
    -webkit-animation: imgTop .3s  ease; 
    -ms-animation: imgTop .3s  ease; 
    -moz-animation: imgTop .3s  ease; 
    -o-animation: imgTop .3s  ease; 
    animation: imgTop .3s ease; 
}
.company .right-block .item .hover .desc{
    font-size: 14px;
    color:rgba(255,255,255,0.6);
    width:275px;
    line-height: 26px;
    text-align: left;
    -webkit-animation: imgTop .3s ease forwards; 
    -moz-animation: imgTop .3s ease forwards; 
    -ms-animation: imgTop .3s ease forwards; 
    -o-animation: imgTop .3s ease forwards; 
    animation: imgTop .3s ease forwards; 
    opacity: 0;
}
.company .right-block .active{
    border-right: 3px solid #0066ff;
    z-index: 99;
    border-right-style: inset;
}
.company .right-block .item .hide{
    display: none;
}
.company .right-block .item .show{
    display: block;
}
.company .hide{
    display: none;
}
.company .show{
    display: block;
}

/*#banner .swiper-slide img{
    animation: myopacity 0.4s linear both;
}*/
.content-h1-animt{
    animation: fadeInUp linear 0.8s 0.3s forwards;
}
@-ms-keyframes fadeInUp {
    from {
      opacity: 0;
      -ms-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0); 
      }
  
    to {
      opacity: 1;
      -ms-transform: none;
      transform: none; } 
      }
@-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0); 
      }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none; } 
      }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0); 
      }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none; 
      } 
      }
.banner-desc-animt{
    animation: fadeInUp linear 0.6s 0.8s forwards;
    -webkit-animation: fadeInUp linear 0.6s 0.8s forwards;
    -ms-animation: fadeInUp linear 0.6s 0.8s forwards;
    -moz-animation: fadeInUp linear 0.6s 0.8s forwards;
    -o-animation: fadeInUp linear 0.6s 0.8s forwards;
}
.banner .btn{
    height: 50px;
    opacity: 1;
    
}
.banner-btn{
    animation: fadeInUp linear 0.6s 1.3s forwards;
    -webkit-animation: fadeInUp linear 0.6s 1.3s forwards;
    -ms-animation: fadeInUp linear 0.6s 1.3s forwards;
    -moz-animation: fadeInUp linear 0.6s 1.3s forwards;
    -o-animation: fadeInUp linear 0.6s 1.3s forwards;
}
#banner .swiper-slide .content{
    /*animation: imgTop 0.4s 0.1s linear both;*/
}
.subsidiary .tips-right{
    position: absolute;
    top:50%;
    right: 20px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    font-size: 50px;
    color:#000;
    z-index: 9999999;
    cursor: pointer;
    /*animation: toRight 1.3s infinite linear;*/
}
@-ms-keyframes myscale{
    0%{-ms-transform: scale(0);}
    50%{-ms-transform: scale(0.5);}
    100%{-ms-transform: scale(1);}
}
@-webkit-keyframes myscale{
    0%{-webkit-transform: scale(0);}
    50%{-webkit-transform: scale(0.5);}
    100%{-webkit-transform: scale(1);}
}
@keyframes myscale{
    0%{transform: scale(0);}
    50%{transform: scale(0.5);}
    100%{transform: scale(1);}
}
@-ms-keyframes myopacity{
    0%{opacity: 0;}
    50%{opacity: 0.5;}
    100%{opacity: 1;}
}
@-webkit-keyframes myopacity{
    0%{opacity: 0;}
    50%{opacity: 0.5;}
    100%{opacity: 1;}
}
@keyframes myopacity{
    0%{opacity: 0;}
    50%{opacity: 0.5;}
    100%{opacity: 1;}
}
@-ms-keyframes toRight{
    0%{-ms-transform: translate(-30px);}
    50%{-ms-transform: translate(-15px);}
    100%{-ms-transform: translate(0);}
}
@-webkit-keyframes toRight{
    0%{-webkit-transform: translate(-30px);}
    50%{-webkit-transform: translate(-15px);}
    100%{-webkit-transform: translate(0);}
}
@keyframes toRight{
    0%{transform: translate(-30px);}
    50%{transform: translate(-15px);}
    100%{transform: translate(0);}
}
@keyframes imgTop{
    0%{transform: translateY(90px);opacity: 0;}
    100%{transform: translateY(0);opacity: 1;}
}
@-ms-keyframes imgTop{
    0%{-ms-transform: translateY(90px);opacity: 0;}
    100%{-ms-transform: translateY(0);opacity: 1}
}
@-webkit-keyframes imgTop{
    0%{-webkit-transform: translateY(90px);opacity: 0;}
    100%{-webkit-transform: translateY(0);opacity: 1}
}
@-ms-keyframes imgBottom{
    0%{-ms-transform: translateY(-190px);opacity: 0;}
    100%{-ms-transform: translateY(0);opacity: 1;}
}
@-webkit-keyframes imgBottom{
    0%{-webkit-transform: translateY(-190px);opacity: 0;}
    100%{-webkit-transform: translateY(0);opacity: 1;}
}
@keyframes imgBottom{
    0%{transform: translateY(-190px);opacity: 0;}
    100%{transform: translateY(0);opacity: 1;}
}